@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */


/* Recommended base font-size and line-height */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #007bff !important;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: lightgray !important;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.dashboard-container {
  margin-top: 20px;
  padding: 30px;
}

.dashboard-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-availability {
  margin-bottom: 20px;
}

.dashboard-appointment {
  margin-bottom: 10px;
}

.dashboard-appointment-status {
  font-weight: bold;
}

.dashboard-appointment-time {
  margin-top: 5px;
  color: #777;
}

.pagination {
  margin-top: 20px;
}

.pagination-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}

.pagination-link:hover {
  background-color: #0056b3;
}

.pagination-link.active {
  background-color: #0056b3;
  font-weight: bold;
}

.appointments-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.item-status {
  background: #007bff;
  color: white;
  padding: 4px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

#timeSelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
  height: 46px;
}

.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -4px !important;
  top: 10px !important;
}

.appointment-datepicker {
  width: 200px !important;
}

.error {
  color: #ff0000;
}

